<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828816103358-9cijk99g31s0jslq7f5fi9tgdl9dkr9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828816103358-9cijk99g31s0jslq7f5fi9tgdl9dkr9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDPosU3xjG1os-FYx0amemqpeDUtjr8PX4</string>
	<key>GCM_SENDER_ID</key>
	<string>828816103358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FinlayNathan.Tech-Teens</string>
	<key>PROJECT_ID</key>
	<string>tech-teens</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-teens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828816103358:ios:e6bf6daf68afa23638cbef</string>
	<key>DATABASE_URL</key>
	<string>https://tech-teens.firebaseio.com</string>
</dict>
</plist>